* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.btn {
    background-color: transparent;
    border: none;
}

button {
    cursor: pointer;
}

html {
    width: 100%;
}

body {
    min-height: 100vh;
}
