.align-center {
    align-self: center;
}

.space-evenly {
    justify-content: space-evenly;
}

.justify-center {
    justify-content: center;

}

.self-center {
    justify-self: center;
}

.align-end {
    align-self: end;
}