.align-center {
    align-self: center;
}

.space-evenly {
    justify-content: space-evenly;
}

.justify-center {
    justify-content: center;

}

.self-center {
    justify-self: center;
}

.align-end {
    align-self: end;
}

.fa {
    font-family: fa;
}

.luckiest {
    font-family: luckiestguy;
}

.row {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    gap: .6em;
}
