.navigation-bar {
    display: grid;
    grid-auto-flow: column;    
    margin-inline: 80px;
}

.logo {
    display: grid;
    grid-template-rows: 30dvh;
    gap: 6px;
    grid-template-columns: 6.875em 6.875em 1fr;
    align-items: end;
}

.sections-list {
    display: grid;
    grid-template-columns: 5em 5em;
    gap: .5em;
    align-items: end;
}

.gallery {

}

