
.navigation-bar {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding-block: 30px; 
}

.logo-container {
    grid-row: 2;
    display: flex;
    justify-content: center;
    gap: 25px;
    /* align-items: end; */
}

.sections-list {
    grid-row: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5em;
    align-items: end;
    width: 70dvw;
}

.gallery {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 150px);
    gap: .5rem;
    margin-inline: 80px;
    /* width: 100vw; */
}

.meme-editor {
    display: none;
}

.sections-list > li {
    display: grid;
}

footer {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 138px;
    justify-content: center;
}