
.navigation-bar>.logo-and-pics>h1,
.sections-list>li>a {
    font-family: luckiestguy;
}

.navigation-bar {
    background-color: #a8cdb6;
}

.navigation-bar> .logo-and-pics> h1 {
    box-sizing: border-box;
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 0;
    display: inline;
    color: #ffffff;
    text-shadow: 2px 0 #000, -2px 0 #161515, 0 0px #000, -2px 2px #000, -2px -2px #000, 1px -2px #000, -1px 2px #000, 0 -2px #000;
}

.logo>h1::first-letter {
    font-size: 2.7em;
}

.sections-list {
    padding: 0;
    margin: 0;
    height: 100%;
}

.sections-list>li>a {
    color: #ffffff;
    font-size: 1.3em;
    text-shadow: 2px 0 #000, -2px 0 #161515, 0 0px #000, -2px 2px #000, -2px -2px #000, 1px -2px #000, -1px 2px #000, 0 -2px #000;
}

.sections-list>li>a:hover {
    text-shadow: 2px 0 #3ead66, -2px 0 #d73535, 0 0px #482ee3, -2px 2px #e848d3, -2px -2px #48e5d7, 1px -2px #fff32d, -1px 2px #c07aff, 0 -2px #ffd273;
}

.logo-img {
    display: block;
    max-width: 100%;
    height: 3.875em;
}
