.meme-editor {
    background-color: var(--primary2);
    width: 100vw;
}

.canvas-container {
    position: relative;
    grid-column: 1;
    width: 50vw;
    height: auto;
}

.user-edits>.download-facebook-share>.download-btn::before {
    content: "\f56d";
    font-size: 2em;
}

.user-edits>.download-facebook-share>.facebook-btn:hover {
    background-color: #39569c;
    color: white;
    padding: 2px;
}

.user-edits>input[type="color"],
.canvas-container>.canvas {
    cursor: pointer;
}

.user-edits>.second-row>.increase-font-btn::before {
    content: "\f034";
}

.user-edits>.second-row>.increase-font-btn:hover::before {
    color: rgba(70, 229, 70, 0.85);
}

.user-edits>.second-row>.decrease-font-btn::before {
    content: "\f034";
}

.user-edits>.second-row>.decrease-font-btn:hover::before {
    color: rgba(171, 0, 0, 0.87);
}

.user-edits>.third-row>.add-line-btn::before {
    content: "\2b";
}

.user-edits>.third-row>.switch-line-btn::before {
    content: "\f363";
}

.border-of-text {
    box-sizing: content-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    background-color: #ffffff3c;
    box-shadow: 1px 1px 11px 6px rgb(80 80 80 / 52%);
    padding: 5px;
    border-radius: 8px;
    opacity: 0;
}

.second-set-controls>.position-text-up::before {
    content: "\f35b";
}

.second-set-controls>.position-text-down::before {
    content: "\f358";
}

.text-input {
    grid-row: 1;
}

.second-row {
    grid-row: 2;
}

.third-row {
    grid-row: 3;
}

.fourth-row {
    grid-row: 4;
}

.fifth-row {
    grid-row: 5;
}

.sixth-row {
    grid-row: 6;
}

.user-edits>.text-input {
    height: 3.6em;
}

.user-edits>.third-row>.switch-line-btn:hover {
    color: rgb(199, 0, 199);   
}

.user-edits>.third-row>.add-line-btn:hover {
    color:rgb(90, 228, 255)
}

.user-edits > .fourth-row > .position-text-down:hover {
    color: aliceblue;
}

.user-edits > .fourth-row > .position-text-up:hover {
    color: rgb(162, 162, 162);
}

.user-edits > .fifth-row > .delete-btn:hover {
    background-color: rgb(203, 0, 0);
    color: aliceblue;
}

.btn {
    font-size: 2em;
}