/* @media (width < 320px) {
    .navigation-bar>h1 {
        padding-block: 30px;
        grid-row: 1;
    }

    .gallery {
        grid-template-columns: repeat(4, calc(100dvw * 0.23));
        display: grid;
        gap: 3px;
        margin-inline: 0;

    }

    .navigation-bar {
        padding-block: 5px;
        grid-template-rows: 1fr auto 40px;
    }

    .navigation-bar>.logo-container {
        padding: 0;
    }

}

footer {
    height: 50px;
}

.navigation-bar,
main {
    margin-block-end: 50px;
}


/* @media () {
    footer {
        height: 50px;
    }
    .navigation-bar > h1 {
        align-self: center
    }
    .gallery {
        grid-template-columns: repeat(4, 160px);
    }
}

@media  */ 