@media (width < 739px) {
    .navigation-bar {
        padding-block: 3vw;
    }

    .meme-editor {
        padding: 0;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }

    .logo-img {
        height: 1.875em;
    }

    .sections-list {
        width: 50vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .sections-list > li> a {
        font-size: 0.5em;
    }

    .user-edits {
        grid-row: 2;
        gap: 1em;
    }

    .canvas-container {
        grid-row: 1;
    }

}

@media (min-width: 740px) {
    .navigation-bar {
        padding-block: 30px;
    }

    .meme-editor {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: minmax( 138px, 1fr);
        padding: 5em;
    }

    .logo-img {
        height: 3.875em;
    }

    .sections-list {
        grid-column: 2;
        display: flex;
        justify-content: end;
    }
    
    .sections-list > li > a {
        font-size: 1.3em;
    }
    .user-edits {
        display: grid;
        grid-template-rows: repeat(6, auto);
        padding-inline: 2.4em;
        gap: .5em;
    }

    .canvas-container {
        grid-column: 1;
    }
}